@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1250px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-primary {
  color: #097cb0 !important;
}

.text-default {
  color: #002d41 !important;
}

.text-official-color {
  color: #0058c8 !important;
}

.text-private-color {
  color: #6a0699 !important;
}

.text-vacation-color {
  color: #f964cf !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-underline {
  text-decoration: underline;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 11px;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #2aa9e3;
  background-color: #2aa9e3;
  transition: 0.25s ease;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  border-color: #097cb0;
  background-color: #097cb0;
}
.btn.btn-outline {
  color: #2aa9e3;
  background-color: #fff;
}
.btn.btn-outline:hover {
  color: #fff;
  background-color: #2aa9e3;
}
.btn.btn-official {
  color: #fff;
  border-color: #0058c8;
  background-color: #0058c8;
}
.btn.btn-official:hover {
  color: #fff;
  border-color: #0063e2;
  background-color: #0063e2;
}
.btn.btn-private {
  color: #fff;
  border-color: #6a0699;
  background-color: #6a0699;
}
.btn.btn-private:hover {
  color: #fff;
  border-color: #8c08ca;
  background-color: #8c08ca;
}
.btn.btn-vacation {
  color: #fff;
  border-color: #f964cf;
  background-color: #f964cf;
}
.btn.btn-vacation:hover {
  color: #fff;
  border-color: #f733c0;
  background-color: #f733c0;
}

.fw-light {
  font-weight: 200;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fs-medium {
  font-size: 24px;
}

.fs-small {
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.site-header {
  position: relative;
  height: 79px;
  z-index: 10;
  padding-top: 24px;
  margin-bottom: 32px;
  background-color: #7acef4;
}
.site-header--inner {
  position: relative;
}

.site-logo--inner {
  display: block;
}
.site-logo--img {
  width: 300px;
  display: block;
}

.user-menu {
  position: absolute;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.user-menu--icon {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.user-menu--dropdown {
  position: absolute;
  top: 100%;
  left: -39px;
  z-index: 12;
  width: 144px;
  display: none;
  margin-top: 30px;
  padding: 16px 11px;
  border-radius: 34px;
  border: 3px solid #2aa9e3;
  background-color: #fff;
}
.user-menu--dropdown::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: 0 auto;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #2aa9e3;
}
.user-menu--btn {
  font-family: "Inter", "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  transition: 0.25s ease;
  background-color: #7acef4;
}
.user-menu--btn + .user-menu--btn {
  margin-top: 16px;
}
.user-menu--btn:hover {
  background-color: #2aa9e3;
}

.lang-switcher {
  position: relative;
  z-index: 3;
  top: 10px;
}

.selected-lang {
  position: relative;
  z-index: 3;
  width: 60px;
  padding: 0 5px;
}
.selected-lang--img {
  display: block;
  margin: 0 auto;
}
.selected-lang::after {
  position: absolute;
  content: "";
  width: 0;
  top: 6px;
  right: -28px;
  border-top: 18px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.lang-dropdown {
  position: absolute;
  width: 60px;
  z-index: -1;
  top: -10px;
  display: none;
  padding: 55px 5px 10px;
  border-radius: 12px;
  background-color: #097cb0;
}
.lang-dropdown--item + .lang-dropdown--item {
  margin-top: 17px;
}
.lang-dropdown--flag {
  display: block;
}
.lang-dropdown--img {
  display: block;
  margin: 0 auto;
}

.create-minyan {
  position: relative;
  top: -12px;
  text-align: center;
}
.create-minyan--inner {
  position: relative;
  width: 178px;
  height: 168px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.create-minyan--inner .hand-icon {
  position: absolute;
  bottom: 4px;
  right: -25px;
}
.create-minyan--text {
  font-family: "Pacifico", sans-serif;
  font-size: 40px;
  color: #2aa9e3;
  line-height: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.home .create-minyan--text {
  color: #fff;
}

.hebrew-date {
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  color: #fff;
  display: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.home .hebrew-date {
  display: block;
}

.hero-section {
  position: relative;
  height: 588px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-wrapper {
  position: absolute;
  bottom: 62px;
  left: 0;
  right: 0;
  z-index: 4;
}

.search-bar {
  position: relative;
  width: 876px;
  margin: 0 auto;
  max-width: 100%;
  z-index: 2;
}
.search-bar--input {
  font-family: "Inter", "Roboto", sans-serif;
  outline: none;
  border: none;
  width: 100%;
  height: 135px;
  font-size: 32px;
  padding: 20px 160px 20px 75px;
  color: rgba(0, 88, 200, 0.5);
  border-radius: 15px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.search-bar--input::-moz-placeholder {
  color: rgba(0, 88, 200, 0.5);
}
.search-bar--input::placeholder {
  color: rgba(0, 88, 200, 0.5);
}
.search-bar--btn {
  position: absolute;
  border: none;
  top: 50%;
  right: 20px;
  outline: none;
  cursor: pointer;
  padding-left: 39px;
  border-left: 2px solid #2aa9e3;
  transform: translateY(-50%);
  background-color: transparent;
}

.bg-primary-light {
  background-color: #7acef4;
}

.section-title--text {
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 38px;
  text-align: center;
}

.slider-section {
  padding: 33px 0 42px 0;
}
.slider-section.mt-2 {
  margin-top: 50px;
}
.slider-section.pb-4 {
  padding-bottom: 100px;
}
.slider-section .container {
  position: relative;
}

.see-all-btn {
  position: absolute;
  bottom: -5px;
  right: 15px;
  z-index: 2;
  min-width: 90px;
  padding: 9px 11px;
  text-align: center;
}
.see-all-btn.btn-outline {
  color: #002d41;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
}
.see-all-btn.btn-outline:hover {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #002d41;
}
.bg-primary-light .see-all-btn {
  color: #2aa9e3;
  background-color: #fff;
}
.bg-primary-light .see-all-btn:hover {
  border-color: #2aa9e3;
  background-color: #2aa9e3;
}

.slider-wrapper {
  position: relative;
  padding: 0 50px;
}

.slider-item {
  position: relative;
  text-align: center;
}
.slider-item--inner {
  padding: 0 10px;
}
.slider-item--img {
  width: 342px;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-item--btn {
  margin-top: 16px;
}
.slider-item--content {
  color: #2aa9e3;
  margin-top: 16px;
}
.slider-item--title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.slider-item--date {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  background-color: rgba(58, 114, 227, 0.8);
}
.slider-item--desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 230px;
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 12px 10px;
  white-space: nowrap;
  border-radius: 15px;
  text-overflow: ellipsis;
  font-size: 18px;
  background-color: rgba(0, 45, 65, 0.3);
}
.slider-item--picture {
  position: relative;
}
.slider-item--picture .play-btn--icon {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 3;
  width: 58px;
  height: 58px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(202, 201, 201, 0.7);
}
.slider-item--picture .play-btn--icon::after {
  position: absolute;
  content: "";
  inset: 0;
  left: 8px;
  width: 0;
  height: 0;
  z-index: 2;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  border-left: 30px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.slick-slider {
  position: unset;
}

.slick-arrow {
  position: absolute;
  width: 55px;
  height: 55px;
  border: none;
  z-index: 2;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  text-indent: -9999px;
  background-color: rgba(58, 114, 227, 0.8);
}
.slick-arrow::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(45deg);
}
.bg-primary-light .slick-arrow::before {
  border-left: 4px solid #b3e7ff;
  border-bottom: 4px solid #b3e7ff;
}
.slick-arrow.slick-prev {
  left: -10px;
}
.slick-arrow.slick-prev::before {
  left: 19px;
}
.slick-arrow.slick-next {
  right: -10px;
}
.slick-arrow.slick-next::before {
  left: 12px;
  transform: scale(-1) rotate(45deg);
}

.slick-dots {
  display: flex;
  margin-top: 21px;
  align-items: center;
  justify-content: center;
}
.slick-dots li + li {
  margin-left: 15px;
}
.slick-dots li.slick-active button {
  background-color: #617ba8;
}
.slick-dots button {
  cursor: pointer;
  border: 0;
  width: 15px;
  height: 15px;
  outline: none;
  overflow: hidden;
  border-radius: 50%;
  text-indent: -9999px;
  background-color: #87a7db;
}

#slider .slick-arrow,
#slider-2 .slick-arrow,
#slider-3 .slick-arrow,
#slider-4 .slick-arrow {
  top: 42%;
  transform: translateY(-50%);
}

.site-footer {
  padding: 28px 0 35px;
  background-color: #2aa9e3;
}

.footer-wrapper {
  width: 1012px;
  margin: 0 auto;
  max-width: 100%;
}

.top-footer {
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}
.top-footer--item {
  flex: 0 0 14%;
  padding: 0 15px;
  text-align: center;
}
.top-footer--item:nth-child(1), .top-footer--item:nth-child(2) {
  flex: 0 0 22%;
}
.top-footer--link {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
}

.footer-logo--img {
  display: block;
  margin: 0 auto;
}

.social-media {
  margin-bottom: 100px;
}
.social-media--item {
  margin: 0 15px;
}
.social-media--link {
  color: #fff;
}
.social-media--link svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.copyright-info {
  font-size: 14px;
  color: #fff;
}

.content-section {
  min-height: 50vh;
  margin-bottom: 40px;
  padding-top: 145px;
}
@media screen and (max-width: 1024px) {
  .content-section {
    padding-top: 65px;
  }
}
@media screen and (max-width: 767px) {
  .content-section {
    padding-top: 25px;
  }
}

.who-are-we {
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .who-are-we {
    margin-bottom: 35px;
  }
}

.main-title {
  margin-bottom: 44px;
}
@media screen and (max-width: 1024px) {
  .main-title {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 767px) {
  .main-title {
    margin-bottom: 25px;
  }
}
.main-title--text {
  font-family: "Pacifico", sans-serif;
  color: #097cb0;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
}
@media screen and (max-width: 991px) {
  .main-title--text {
    font-size: 35.2px;
    line-height: 51.2px;
  }
}
@media screen and (max-width: 767px) {
  .main-title--text {
    font-size: 32px;
    line-height: 48px;
  }
}

.content-wrapper {
  padding: 17px 23px;
  border-radius: 25px;
  border: 2px solid #097cb0;
}
@media screen and (max-width: 767px) {
  .content-wrapper {
    padding: 17px;
  }
}
.content-wrapper p {
  font-size: 15px;
  color: #2aa9e3;
  margin-bottom: 35px;
  line-height: 21px;
}
@media screen and (max-width: 991px) {
  .content-wrapper p {
    margin-bottom: 25px;
  }
}
.content-wrapper p:last-child {
  margin-bottom: 0;
}
.who-are-we .content-wrapper p {
  font-size: 24px;
  line-height: 34px;
}
@media screen and (max-width: 991px) {
  .who-are-we .content-wrapper p {
    font-size: 20px;
    line-height: 30.8px;
  }
}
@media screen and (max-width: 767px) {
  .who-are-we .content-wrapper p {
    font-size: 18px;
    line-height: 26px;
  }
}
.content-wrapper hr {
  width: 262px;
  margin: 0 auto 20px;
  max-width: 96%;
  border-top: 1px solid #097cb0;
}

.definations-section .content-wrapper {
  padding: 23px;
}
.definations-section .column-6 {
  margin-top: 10px;
}
.definations-section .column-6:nth-child(2) {
  padding-left: 60px;
}
@media screen and (max-width: 991px) {
  .definations-section .column-6:nth-child(2) {
    padding-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .definations-section .column-6 {
    margin-top: 0;
  }
  .definations-section .column-6:not(:first-child) {
    margin-top: 30px;
    padding-left: 0;
  }
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 78px;
}
@media screen and (max-width: 767px) {
  .two-column {
    margin-bottom: 35px;
  }
}

.column-6 {
  width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .column-6 {
    padding: 0;
    width: 100%;
    flex: 0 0 100%;
  }
}

.content-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #097cb0;
}
@media screen and (max-width: 991px) {
  .content-title {
    font-size: 24px;
  }
}

.content-list {
  padding-left: 40px;
}
@media screen and (max-width: 991px) {
  .content-list {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .content-list {
    padding-left: 0;
  }
}
.content-list--item {
  margin-top: 12px;
}
.content-list--link {
  font-size: 24px;
  color: #2aa9e3;
  font-weight: 600;
  text-decoration: underline;
}
@media screen and (max-width: 991px) {
  .content-list--link {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content-list--link {
    font-size: 18px;
  }
}

.content-block {
  margin-bottom: 15px;
}
.content-block--title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
  color: #097cb0;
}
@media screen and (max-width: 767px) {
  .content-block--title {
    font-size: 20px;
    line-height: 28px;
  }
}
.content-block--desc {
  font-size: 15px;
  line-height: 21px;
}
.definations-section .content-block--desc {
  margin-bottom: 15px;
}
.definations-section .content-block--desc:last-of-type {
  margin-bottom: 5px;
}
.content-block--bottom {
  text-align: right;
}
.content-block--link {
  color: #097cb0;
  font-weight: bold;
  text-decoration: underline;
}

.contact-section .main-title {
  margin-bottom: 30px;
}

.contact-form {
  width: 620px;
  margin: 0 auto;
  max-width: 100%;
}

.form-group {
  margin-bottom: 25px;
}
.form-group label {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  display: block;
  color: #097cb0;
}
.form-group .wpcf7-form-control-wrap {
  display: block;
}

textarea.form-control {
  resize: none;
  height: 123px;
}

.form-control {
  height: 24px;
  width: 100%;
  outline: none;
  padding: 10px 8px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 1px solid #2aa9e3;
}
.form-control.wpcf7-textarea {
  resize: none;
  height: 270px;
}

.form-action {
  text-align: center;
}
.form-action .wpcf7-submit {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 18px;
  transition: 0.25s ease;
  background-color: #097cb0;
}
.form-action .wpcf7-submit:hover {
  background-color: #086b98;
}

.wpcf7-spinner {
  display: none;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  align-items: center;
}
.breadcrumb-link {
  color: #2aa9e3;
  padding: 3px 10px;
  display: inline-block;
}
.breadcrumb-item {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: #2aa9e3;
}
.breadcrumb-item:after {
  content: ">";
  margin-right: 3px;
}
.breadcrumb-item:last-child::after {
  content: none;
  display: none;
}
.breadcrumb-item.active .breadcrumb-link {
  color: #fff;
  background-color: #2aa9e3;
  border-radius: 30px;
}
.breadcrumb-item:first-child:not(.active) .breadcrumb-link {
  padding-left: 0;
}
.breadcrumb-top {
  position: relative;
  top: -55px;
  margin-bottom: 0;
}
.breadcrumb-top .breadcrumb-item.active .breadcrumb-link {
  color: #2aa9e3;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 3px solid #2aa9e3;
}
.official-minyan .breadcrumb-top .breadcrumb-item.active .breadcrumb-link {
  color: #0058c8;
  border-bottom-color: #0058c8;
}
.private-minyan .breadcrumb-top .breadcrumb-item.active .breadcrumb-link {
  color: #6a0699;
  border-bottom-color: #6a0699;
}
.vacation-minyan .breadcrumb-top .breadcrumb-item.active .breadcrumb-link {
  color: #f964cf;
  border-bottom-color: #f964cf;
}
.breadcrumb-top .breadcrumb-link {
  font-size: 20px;
  padding: 0;
  margin: 0 5px;
}

.register-form,
.common-form {
  width: 550px;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px 35px;
  border-radius: 25px;
  border: 2px solid #097cb0;
}
.register-form .form-group,
.common-form .form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.register-form .form-group--top,
.common-form .form-group--top {
  flex: 0 0 100%;
  font-size: 15px;
  line-height: normal;
  color: #097cb0;
  font-weight: bold;
  margin: 10px 0 10px;
}
.register-form .form-group--label,
.common-form .form-group--label {
  flex: 0 0 54%;
  width: 54%;
  font-size: 15px;
  line-height: normal;
}
.register-form .form-group--control,
.common-form .form-group--control {
  flex: 0 0 46%;
  width: 46%;
}
.register-form .form-group--file,
.common-form .form-group--file {
  position: relative;
  border: none;
  width: 115px;
  flex: 0 0 115px;
  max-width: 100%;
  margin: 18px auto 12px;
}
.register-form .form-group--file-text,
.common-form .form-group--file-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  inset: 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #2aa9e3;
}
.register-form .form-group.fw-group .form-group--label,
.register-form .form-group.fw-group .form-group--control,
.common-form .form-group.fw-group .form-group--label,
.common-form .form-group.fw-group .form-group--control {
  flex: 0 0 100%;
  width: 100%;
  margin: 0 0 10px 0;
}
.register-form .form-group.fw-group .form-group--file,
.common-form .form-group.fw-group .form-group--file {
  margin: 0;
}
.register-form .form-group.fw-group .form-control--info,
.common-form .form-group.fw-group .form-control--info {
  margin-bottom: 0;
  margin-left: 15px;
  flex-direction: row;
  justify-content: start;
}
.register-form .form-group.fw-group .form-control--info strong,
.common-form .form-group.fw-group .form-control--info strong {
  margin-right: 20px;
}
.register-form .form-control,
.common-form .form-control {
  font-size: 15px;
  font-weight: 600;
  color: #2aa9e3;
  padding: 5px 8px;
}
.register-form .form-control--select,
.common-form .form-control--select {
  padding: 0 5px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZmlsbDogIzJhYTllMzt0cmFuc2Zvcm06IDttc0ZpbHRlcjo7Ij48cGF0aCBkPSJNMTYuMjkzIDkuMjkzIDEyIDEzLjU4NiA3LjcwNyA5LjI5M2wtMS40MTQgMS40MTRMMTIgMTYuNDE0bDUuNzA3LTUuNzA3eiI+PC9wYXRoPjwvc3ZnPg==") no-repeat center right;
}
.register-form .form-control--file,
.common-form .form-control--file {
  position: relative;
  border: none;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 21px;
  width: 100%;
}
.register-form .form-control--info,
.common-form .form-control--info {
  width: 115px;
  margin: 0 auto 20px;
  color: #2aa9e3;
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  font-size: 10px;
}
.register-form .form-control.mb-1,
.common-form .form-control.mb-1 {
  margin-bottom: 5px;
}

.form-checkbox,
.form-radio {
  position: relative;
  display: flex;
  padding-left: 20px;
  margin-bottom: 5px;
}
.form-checkbox--input,
.form-radio--input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-checkbox--input:checked ~ .form-checkbox--label::after, .form-checkbox--input:checked ~ .form-radio--label::after,
.form-radio--input:checked ~ .form-checkbox--label::after,
.form-radio--input:checked ~ .form-radio--label::after {
  opacity: 1;
}
.form-checkbox--label,
.form-radio--label {
  font-size: 14px !important;
  line-height: normal !important;
  font-weight: normal !important;
}
.form-checkbox--label:before,
.form-radio--label:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border: 1px solid #2aa9e3;
}
.form-checkbox--label:after,
.form-radio--label:after {
  position: absolute;
  opacity: 0;
  content: "";
  top: 5px;
  left: 4px;
  width: 7px;
  height: 3px;
  transform: rotate(-45deg);
  border-left: 1px solid #2aa9e3;
  border-bottom: 1px solid #2aa9e3;
}

.form-radio-inline {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.form-radio-inline .form-radio {
  margin-bottom: 0;
}
.form-radio-inline .form-radio + .form-radio {
  margin-left: 25px;
}

.form-radio {
  padding-left: 28px;
}
.form-radio--label:before {
  top: -2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border-color: #097cb0;
}
.form-radio--label:after {
  width: 14px;
  height: 14px;
  inset: 2.25px 0 0 4.25px;
  border: none;
  transform: none;
  border-radius: 30px;
  background-color: #2aa9e3;
}

.required-fields {
  font-size: 11px;
  font-weight: bold;
  color: #097cb0;
}

.register-form-wrapper .form-action,
.login-form-wrapper .form-action {
  margin-top: 40px;
}
.register-form-wrapper .form-action .btn,
.login-form-wrapper .form-action .btn {
  cursor: pointer;
  border: none;
  min-width: 125px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 20px;
  text-transform: none;
  font-size: 24px;
  background-color: #097cb0;
  margin-right: 60px;
}
.register-form-wrapper .form-action .btn:last-child,
.login-form-wrapper .form-action .btn:last-child {
  margin-right: 0;
}

.login-form-wrapper {
  padding: 45px 65px;
}
.login-form-wrapper .form-control {
  font-size: 15px;
  font-weight: 600;
  color: #2aa9e3;
  padding: 5px 8px;
}
.login-form-wrapper .form-action {
  margin: 0;
}
.login-form-wrapper .form-action--bottom {
  margin-top: 35px;
}
.login-form-wrapper .form-action--bottom .btn {
  margin-left: 20px;
}
.login-form-wrapper .form-group {
  margin-bottom: 0;
}
.login-form-wrapper .form-group--label {
  line-height: normal;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
}
.form-row .email-box {
  width: 500px;
  max-width: 60%;
  padding-right: 80px;
}
.form-row .password-box {
  width: 295px;
  max-width: 40%;
  margin-right: 35px;
}
.form-row .password-box .form-group--label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-row .password-box .form-action .btn {
  margin-top: 30px;
}

.create-minyan-wrapper .container {
  width: 1220px;
}

.common-form-wrapper {
  flex-grow: 1;
  padding: 17px 23px;
  border-radius: 25px;
  border: 2px solid #097cb0;
}
.common-form-wrapper + .common-form-wrapper {
  margin-top: 35px;
}

.common-form {
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 0;
}
.common-form .row {
  display: flex;
  margin: 0 -28px;
}
.common-form .column-6 {
  display: flex;
  padding: 0 28px;
  flex-direction: column;
}
.common-form .form-group .form-checkbox--label,
.common-form .form-group .form-radio--label {
  font-weight: bold !important;
}
.common-form .form-group input[type=time].form-control {
  width: 113px;
  display: block;
  max-width: 100%;
}
.common-form .form-group .form-control--select {
  font-weight: normal;
}
.common-form .form-group.show-currency .form-group--control {
  position: relative;
}
.common-form .form-group.show-currency .form-group--control::after {
  position: absolute;
  content: "€";
  right: -10px;
  top: 3px;
  color: #2aa9e3;
  font-weight: bold;
  font-size: 14px;
}

.common-title {
  font-size: 24px;
  font-weight: bold;
  color: #097cb0;
  margin-bottom: 10px;
}

.page-form-action {
  margin-top: 40px;
}
.page-form-action .btn {
  cursor: pointer;
  padding: 12px 20px;
  font-size: 24px;
  border-radius: 19px;
  text-transform: none;
}

.column-4 {
  width: 33.33%;
  flex: 0 0 33.33%;
}

.minyan-create .row {
  margin: 0 -20px;
  flex-wrap: wrap;
}
.minyan-create .column-4 {
  padding: 0 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .minyan-create .column-4 {
    width: 100%;
    flex: 0 0 100%;
  }
}
.minyan-create--inner {
  padding: 18px 15px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.minyan-create--inner.bg-official {
  background-color: #afd2ff;
}
.minyan-create--inner.bg-private {
  background-color: #dfa3fb;
}
.minyan-create--inner.bg-vacation {
  background-color: #fcaee6;
}
.minyan-create--title {
  font-family: "Pacifico", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .minyan-create--title {
    font-size: 26px;
  }
}
.minyan-create--bottom {
  display: flex;
  padding: 20px;
  margin-top: 25px;
  min-height: 146px;
  border-radius: 25px;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
}
.minyan-create--desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
.minyan-create--btn {
  width: 224px;
  margin: 0 auto;
  max-width: 100%;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: none;
}

@media screen and (max-width: 1280px) {
  .see-all-btn {
    right: 20px;
  }
  .slick-arrow {
    width: 45px;
    height: 45px;
  }
  .slick-arrow::before {
    width: 13px;
    height: 13px;
  }
  .slick-arrow.slick-prev {
    left: 0;
  }
  .slick-arrow.slick-prev::before {
    left: 17px;
  }
  .slick-arrow.slick-next {
    right: 0;
  }
  .slick-arrow.slick-next::before {
    left: 11px;
  }
}
@media screen and (max-width: 1024px) {
  .site-logo--img {
    width: 240px;
  }
  .create-minyan--inner {
    width: 118px;
    height: 108px;
    padding: 10px;
  }
  .create-minyan--inner img:not(.hand-icon) {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .create-minyan--inner img.hand-icon {
    width: 60px;
    bottom: 10px;
    right: -22px;
  }
  .create-minyan--text {
    font-size: 30px;
  }
  .hero-section {
    height: 500px;
  }
  .breadcrumb-item {
    font-size: 18px;
  }
  .login-form-wrapper {
    padding: 35px;
  }
  .login-form-wrapper .form-group--label {
    font-size: 18px;
  }
  .login-form-wrapper .form-action .fs-medium {
    font-size: 18px;
  }
  .form-row .email-box,
  .form-row .password-box {
    max-width: 45%;
  }
}
@media screen and (max-width: 991px) {
  .site-header {
    padding-top: 32px;
    margin-bottom: 0;
  }
  .site-logo--img {
    width: 170px;
  }
  .selected-lang {
    width: 40px;
  }
  .selected-lang::after {
    top: 6px;
    right: -17px;
    border-top-width: 9px;
    border-left-width: 6px;
    border-right-width: 6px;
  }
  .lang-dropdown {
    width: 40px;
    padding-top: 40px;
  }
  .user-menu--icon {
    width: 55px;
    height: 55px;
    padding: 12px;
  }
  .user-menu--dropdown {
    left: -44px;
  }
  .create-minyan {
    position: relative;
    padding-right: 10px;
    margin-left: 40px;
  }
  .create-minyan--inner {
    width: 58px;
    height: 58px;
  }
  .create-minyan--inner img.hand-icon {
    width: 30px;
    right: -12px;
    bottom: 8px;
  }
  .create-minyan--text {
    width: 120px;
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
  }
  .search-bar--input {
    font-size: 24px;
    height: 90px;
    padding-left: 30px;
  }
  .search-bar--btn img {
    width: 60px;
  }
  .slider-item--picture .play-btn--icon {
    width: 45px;
    height: 45px;
  }
  .slider-item--picture .play-btn--icon::after {
    left: 5px;
    border-left-width: 15px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-radius: 2px;
  }
  .top-footer {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .top-footer--item {
    flex: none;
  }
  .top-footer--item:nth-child(1), .top-footer--item:nth-child(2) {
    flex: none;
  }
  .top-footer--item:nth-child(3) {
    order: -1;
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  .top-footer--link {
    margin-top: 10px;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-logo--img {
    width: 50px;
  }
  .social-media {
    margin-bottom: 15px;
  }
  .social-media--item {
    margin: 0 10px;
  }
  .breadcrumb-item {
    font-size: 16px;
  }
  .form-row {
    flex-direction: column;
  }
  .form-row .email-box,
  .form-row .password-box {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 25px;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .site-header {
    height: auto;
    padding: 15px 0;
  }
  .site-header--inner {
    align-items: center;
  }
  .site-logo--img {
    width: 120px;
  }
  .lang-switcher {
    top: 0;
  }
  .user-menu--icon {
    width: 40px;
    height: 40px;
    padding: 9px;
  }
  .user-menu--dropdown {
    left: -52px;
  }
  .right-menu {
    align-items: center;
  }
  .create-minyan {
    top: 0;
    margin-left: 28px;
  }
  .create-minyan--inner {
    width: 45px;
    height: 45px;
    padding: 5px;
  }
  .create-minyan--inner img.hand-icon {
    width: 25px;
    right: -10px;
    bottom: 5px;
  }
  .create-minyan--text {
    display: none;
  }
  .fs-medium {
    font-size: 20px;
  }
  .hebrew-date {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 20px;
    margin-top: 20px;
  }
  .search-wrapper {
    bottom: 20px;
  }
  .search-bar--input {
    height: 60px;
    font-size: 18px;
    padding: 10px 70px 10px 15px;
  }
  .search-bar--btn {
    padding-left: 10px;
  }
  .search-bar--btn img {
    width: 30px;
  }
  .hero-section {
    height: 250px;
  }
  .see-all-btn {
    position: static;
    width: 90px;
    margin: 20px auto 0;
    display: block;
  }
  .slider-section {
    padding: 25px 0 35px 0;
  }
  .slider-section.mt-2 {
    margin-top: 30px;
  }
  .section-title--text {
    margin-bottom: 25px;
  }
  .slider-wrapper {
    padding: 0px 20px;
  }
  .slick-arrow {
    width: 35px;
    height: 35px;
  }
  .slick-arrow:before {
    width: 10px;
    height: 10px;
  }
  .slick-arrow.slick-prev {
    left: -8px;
  }
  .slick-arrow.slick-prev::before {
    left: 12px;
  }
  .slick-arrow.slick-next {
    right: -8px;
  }
  .slick-arrow.slick-next::before {
    left: 8px;
  }
  .slider-section.pb-4 {
    padding-bottom: 45px;
  }
  .slider-item--title {
    font-size: 18px;
  }
  .register-form {
    padding: 15px;
  }
  .register-form .form-group {
    flex-direction: column;
  }
  .register-form .form-group--label, .register-form .form-group--control {
    width: 100%;
    flex: 0 0 100%;
  }
  .register-form .form-group .form-checkbox {
    margin-top: 5px;
  }
  .login-form-wrapper {
    padding: 20px;
  }
  .login-form-wrapper .form-action--bottom {
    margin-top: 15px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 340px) {
  .site-logo--img {
    width: 100px;
  }
}/*# sourceMappingURL=styles.css.map */