$primary: #2aa9e3;
$primary-light: #7acef4;
$primary-dark: #097cb0;
$bg-primary-light: #b3e7ff;

$white: #fff;
$black: #000;

$font-family-inter: "Inter", "Roboto", sans-serif;
$font-size-base: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: $font-size-base;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
select,
textarea,
button {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1220px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: $primary-dark;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    font-size: $font-size-base * 0.875;
    text-transform: uppercase;
    color: $white;
    padding: 12px 11px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid $primary;
    background-color: $primary;
    transition: 0.25s ease;
    box-shadow: 0px 0px 10px -5px rgba($black, 0.4);

    &:hover {
        border-color: $primary-dark;
        background-color: $primary-dark;
    }

    &.btn-outline {
        color: $primary;
        background-color: $white;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

// Font weights
.fw-light {
    font-weight: 200;
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

// Font sizes
.fs-medium {
    font-size: $font-size-base * 1.5;
}

// Basic flex utilities
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

// Site header
.site-header {
    height: 79px;
    padding-top: 24px;
    margin-bottom: 32px;
    background-color: $primary-light;

    &--inner {
        position: relative;
    }
}

.site-logo {
    &--inner {
        display: block;
    }

    &--img {
        width: 300px;
        display: block;
    }
}

.user-menu {
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);

    &--icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 4px 4px 0px rgba($black, 0.4);
    }

    &--dropdown {
        position: absolute;
        top: 100%;
        left: -39px;
        z-index: 12;
        width: 144px;
        display: none;
        margin-top: 30px;
        padding: 16px 11px;
        border-radius: 34px;
        border: 3px solid $primary;
        background-color: $white;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            left: 0;
            right: 0;
            bottom: 100%;
            margin: 0 auto;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 30px solid $primary;
        }
    }

    &--btn {
        font-family: $font-family-inter;
        font-weight: 700;
        color: $white;
        display: block;
        text-align: center;
        padding: 10px 12px;
        border-radius: 10px;
        transition: 0.25s ease;
        background-color: $primary-light;

        &+.user-menu--btn {
            margin-top: 16px;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

// Language switcher
.lang-switcher {
    position: relative;
    z-index: 3;
    top: 10px;
}

.selected-lang {
    position: relative;
    z-index: 3;
    width: 60px;
    padding: 0 5px;

    &--img {
        display: block;
        margin: 0 auto;
    }

    &::after {
        position: absolute;
        content: "";
        width: 0;
        top: 6px;
        right: -28px;
        border-top: 18px solid $white;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
    }
}

.lang-dropdown {
    position: absolute;
    width: 60px;
    z-index: -1;
    top: -10px;
    display: none;
    padding: 55px 5px 10px;
    border-radius: 12px;
    background-color: $primary-dark;

    &--item {
        &+.lang-dropdown--item {
            margin-top: 17px;
        }
    }

    &--flag {
        display: block;
    }

    &--img {
        display: block;
        margin: 0 auto;
    }
}

.create-minyan {
    position: relative;
    top: -12px;
    text-align: center;

    &--inner {
        position: relative;
        width: 178px;
        height: 168px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 4px 4px 0px rgba($black, 0.4);

        .hand-icon {
            position: absolute;
            bottom: 4px;
            right: -25px;
        }
    }

    &--text {
        font-family: "Pacifico", sans-serif;
        font-size: $font-size-base * 2.5;
        color: $primary;
        line-height: 60px;
        text-shadow: 0px 4px 4px rgba($black, 0.3);

        .home & {
            color: $white;
        }
    }
}

.hero-section {
    height: 588px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// Search Bar
.search-wrapper {
    margin-top: -45px;
    margin-bottom: 20px;
}

.search-bar {
    position: relative;
    width: 876px;
    margin: 0 auto 20px;
    max-width: 100%;
    z-index: 2;

    &--input {
        font-family: $font-family-inter;
        outline: none;
        border: none;
        width: 100%;
        height: 135px;
        font-size: 32px;
        padding: 20px 160px 20px 75px;
        color: rgba(#0058c8, 0.5);
        border-radius: 15px;
        box-shadow: 10px 10px 20px 0px rgba($black, 0.3);

        &::-webkit-input-placeholder {
            color: rgba(#0058c8, 0.5);
        }

        &:-ms-input-placeholder {
            color: rgba(#0058c8, 0.5);
        }

        &::placeholder {
            color: rgba(#0058c8, 0.5);
        }
    }

    &--btn {
        position: absolute;
        border: none;
        top: 50%;
        right: 20px;
        outline: none;
        cursor: pointer;
        padding-left: 39px;
        border-left: 2px solid $primary;
        transform: translateY(-50%);
        background-color: transparent;
    }
}

// Common sections
.bg-primary-light {
    background-color: $primary-light;
}

.section-title {
    &--text {
        font-size: $font-size-base * 1.5;
        margin-bottom: 32px;
    }
}

.slider-section {
    padding: 33px 0 42px 0;

    &.pb-4 {
        padding-bottom: 100px;
    }

    .container {
        position: relative;
    }
}

.see-all-btn {
    position: absolute;
    bottom: -5px;
    right: 15px;
    z-index: 2;
    min-width: 90px;
    padding: 9px 11px;
    text-align: center;

    &.btn-outline {
        color: $white;
        border-color: $primary-light;
        background-color: $primary-light;

        &:hover {
            border-color: darken($primary-light, 10%);
            background-color: darken($primary-light, 10%);
        }
    }

    .bg-primary-light & {
        color: $primary;
        background-color: $white;

        &:hover {
            border-color: $primary;
            background-color: $primary;
        }
    }
}

.slider-wrapper {
    position: relative;
    padding: 0 50px;
}

.slider-item {
    text-align: center;

    &--inner {
        padding: 0 10px;
    }

    &--img {
        width: 342px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    &--btn {
        margin-top: 16px;
    }

    &--content {
        color: $primary;
        margin-top: 16px;
    }

    &--title {
        font-size: $font-size-base * 1.25;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &--desc {
        font-size: $font-size-base * 1.25;
        font-weight: bold;
    }

    &--picture {
        position: relative;

        &.play-btn {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 2;
                width: 80px;
                height: 80px;
                margin: auto;
                cursor: pointer;
                border-radius: 50%;
                background-color: #ad1519;
            }

            &::after {
                position: absolute;
                content: "";
                inset: 0;
                width: 0;
                height: 0;
                left: 14px;
                z-index: 2;
                margin: auto;
                cursor: pointer;
                border-left: 43px solid $white;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
            }
        }
    }
}

.slick-slider {
    position: unset;
}

.slick-arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    border: none;
    z-index: 2;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #3a72e3;

    &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-left: 4px solid $white;
        border-bottom: 4px solid $white;
        transform: rotate(45deg);
    }

    .bg-primary-light & {
        &::before {
            border-left: 4px solid $bg-primary-light;
            border-bottom: 4px solid $bg-primary-light;
        }
    }

    &.slick-prev {
        left: -10px;

        &::before {
            left: 19px;
        }
    }

    &.slick-next {
        right: -10px;

        &::before {
            left: 12px;
            transform: scale(-1) rotate(45deg);
        }
    }
}

.slick-dots {
    display: flex;
    margin-top: 21px;
    align-items: center;
    justify-content: center;

    li {
        &+li {
            margin-left: 15px;
        }

        &.slick-active {
            button {
                background-color: #617ba8;
            }
        }
    }

    button {
        cursor: pointer;
        border: 0;
        width: 15px;
        height: 15px;
        outline: none;
        overflow: hidden;
        border-radius: 50%;
        text-indent: -9999px;
        background-color: #87a7db;
    }
}

#slider,
#slider-3 {
    .slick-arrow {
        top: 36.5%;
        transform: translateY(-50%);
    }
}

#slider-2,
#slider-4 {
    .slick-arrow {
        top: 30.75%;
        transform: translateY(-50%);
    }
}

.site-footer {
    padding: 28px 0 35px;
    background-color: $primary;
}

.footer-wrapper {
    width: 1012px;
    margin: 0 auto;
    max-width: 100%;
}

.top-footer {
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid $white;

    &--item {
        flex: 0 0 14%;
        padding: 0 15px;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2) {
            flex: 0 0 22%;
        }
    }

    &--link {
        color: $white;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
        font-size: $font-size-base * 0.875;
    }
}

.footer-logo {
    &--img {
        display: block;
        margin: 0 auto;
    }
}

.social-media {
    margin-bottom: 100px;

    &--item {
        margin: 0 15px;
    }

    &--link {
        color: $white;

        svg {
            fill: $white;
            width: 30px;
            height: 30px;
        }
    }
}

.copyright-info {
    font-size: $font-size-base * 0.875;
    color: $white;
}

// Who are we

.content-section {
    min-height: 50vh;
    margin-bottom: 40px;
    padding-top: 145px;

    @media screen and (max-width: 1024px) {
        padding-top: 65px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 25px;
    }
}

.who-are-we {
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
        margin-bottom: 35px;
    }
}

.main-title {
    margin-bottom: 44px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 34px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 25px;
    }

    &--text {
        color: $primary-dark;
        font-size: $font-size-base * 2.5;
        line-height: $font-size-base * 3.5;

        @media screen and (max-width: 991px) {
            font-size: $font-size-base * 2.2;
            line-height: $font-size-base * 3.2;
        }

        @media screen and (max-width: 767px) {
            font-size: $font-size-base * 2;
            line-height: $font-size-base * 3;
        }
    }
}

.content-wrapper {
    padding: 17px 23px;
    border-radius: 25px;
    border: 2px solid $primary-dark;

    @media screen and (max-width: 767px) {
        padding: 17px;
    }

    p {
        font-size: $font-size-base * 0.9375;
        color: $primary;
        margin-bottom: 35px;
        line-height: $font-size-base * 1.3125;

        @media screen and (max-width: 991px) {
            margin-bottom: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .who-are-we & {
            font-size: $font-size-base * 1.5;
            line-height: $font-size-base * 2.125;

            @media screen and (max-width: 991px) {
                font-size: $font-size-base * 1.25;
                line-height: $font-size-base * 1.925;
            }

            @media screen and (max-width: 767px) {
                font-size: $font-size-base * 1.125;
                line-height: $font-size-base * 1.625;
            }
        }
    }

    hr {
        width: 262px;
        margin: 0 auto 20px;
        max-width: 96%;
        border-top: 1px solid $primary-dark;
    }
}

// Definations

.definations-section {
    .content-wrapper {
        padding: 23px;
    }
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;

    @media screen and (max-width: 767px) {
        margin-bottom: 35px;
    }
}

.column-6 {
    width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
    margin-top: 10px;

    &:nth-child(2) {
        padding-left: 60px;

        @media screen and (max-width: 991px) {
            padding-left: 10px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 0;
        width: 100%;
        flex: 0 0 100%;
        margin-top: 0;

        &:not(:first-child) {
            margin-top: 30px;
            padding-left: 0;
        }
    }
}

.content-title {
    font-size: $font-size-base * 2;
    font-weight: bold;
    margin-bottom: 20px;
    color: $primary-dark;

    @media screen and (max-width: 991px) {
        font-size: $font-size-base * 1.5;
    }
}

.content-list {
    padding-left: 40px;

    @media screen and (max-width: 991px) {
        padding-left: 15px;
    }

    @media screen and (max-width: 767px) {
        padding-left: 0;
    }

    &--item {
        margin-top: 12px;
    }

    &--link {
        font-size: $font-size-base * 1.5;
        color: $primary;
        font-weight: 600;
        text-decoration: underline;

        @media screen and (max-width: 991px) {
            font-size: $font-size-base * 1.25;
        }

        @media screen and (max-width: 767px) {
            font-size: $font-size-base * 1.125;
        }
    }
}

.content-block {
    margin-bottom: 15px;

    &--title {
        font-size: $font-size-base * 1.5;
        line-height: $font-size-base * 2.125;
        margin-bottom: 10px;
        color: $primary-dark;

        @media screen and (max-width: 767px) {
            font-size: $font-size-base * 1.25;
            line-height: $font-size-base * 1.75;
        }
    }

    &--desc {
        font-size: $font-size-base * 0.9375;
        line-height: $font-size-base * 1.3125;

        .definations-section & {
            margin-bottom: 15px;
        }

        &:last-of-type {
            .definations-section & {
                margin-bottom: 5px;
            }
        }
    }

    &--bottom {
        text-align: right;
    }

    &--link {
        color: $primary-dark;
        font-weight: bold;
        text-decoration: underline;
    }
}

// Contact Page
.contact-section {
    .main-title {
        margin-bottom: 30px;
    }
}

.contact-form {
    width: 620px;
    margin: 0 auto;
    max-width: 100%;
}

.form-group {
    margin-bottom: 25px;

    label {
        font-size: $font-size-base * 1.5;
        line-height: $font-size-base * 2.125;
        font-weight: bold;
        display: block;
        color: $primary-dark;
    }

    .wpcf7-form-control-wrap {
        display: block;
    }
}

.form-control {
    height: 24px;
    width: 100%;
    outline: none;
    padding: 10px 8px;
    border: 1px solid $primary;

    &.wpcf7-textarea {
        resize: none;
        height: 270px;
    }
}

.form-action {
    text-align: center;

    .wpcf7-submit {
        border: 0;
        color: $white;
        cursor: pointer;
        font-size: $font-size-base * 1.5;
        font-weight: bold;
        padding: 12px 16px;
        border-radius: 18px;
        transition: 0.25s ease;
        background-color: $primary-dark;
        &:hover {
            background-color: darken($primary-dark, 5%);
        }
    }
}

.wpcf7-spinner {
    display: none;
}


// Responsive
@media screen and (max-width: 1280px) {
    .see-all-btn {
        right: 20px;
    }

    .slick-arrow {
        width: 45px;
        height: 45px;

        &::before {
            width: 13px;
            height: 13px;
        }

        &.slick-prev {
            left: 0;

            &::before {
                left: 17px;
            }
        }

        &.slick-next {
            right: 0;

            &::before {
                left: 11px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .site-logo {
        &--img {
            width: 240px;
        }
    }

    .create-minyan {
        &--inner {
            width: 118px;
            height: 108px;
            padding: 10px;

            img {
                &:not(.hand-icon) {
                    height: 100%;
                    object-fit: contain;
                }

                &.hand-icon {
                    width: 60px;
                    bottom: 10px;
                    right: -22px;
                }
            }
        }

        &--text {
            font-size: $font-size-base * 1.875;
        }
    }

    .hero-section {
        height: 500px;
    }
}

@media screen and (max-width: 991px) {
    .site-header {
        padding-top: 32px;
        margin-bottom: 0;
    }

    .site-logo {
        &--img {
            width: 170px;
        }
    }

    .selected-lang {
        width: 40px;

        &::after {
            top: 6px;
            right: -17px;
            border-top-width: 9px;
            border-left-width: 6px;
            border-right-width: 6px;
        }
    }

    .lang-dropdown {
        width: 40px;
        padding-top: 40px;
    }

    .user-menu {
        &--icon {
            width: 55px;
            height: 55px;
            padding: 12px;
        }

        &--dropdown {
            left: -44px;
        }
    }

    .create-minyan {
        position: relative;
        padding-right: 10px;
        margin-left: 40px;

        &--inner {
            width: 58px;
            height: 58px;

            img {
                &.hand-icon {
                    width: 30px;
                    right: -12px;
                    bottom: 8px;
                }
            }
        }

        &--text {
            width: 120px;
            margin-top: 5px;
            font-size: $font-size-base * 1.25;
            line-height: $font-size-base * 1.5;
        }
    }

    .search-bar {
        &--input {
            font-size: $font-size-base * 1.5;
            height: 90px;
            padding-left: 30px;
        }

        &--btn {
            img {
                width: 60px;
            }
        }
    }

    .slider-item {
        &--picture {
            &.play-btn {
                &::before {
                    width: 50px;
                    height: 50px;
                }

                &::after {
                    left: 4px;
                    border-left-width: 15px;
                    border-top-width: 10px;
                    border-bottom-width: 10px;
                }
            }
        }
    }

    .top-footer {
        margin-bottom: 15px;
        padding-bottom: 15px;

        &--item {
            flex: none;

            &:nth-child(1),
            &:nth-child(2) {
                flex: none;
            }

            &:nth-child(3) {
                order: -1;
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
        }

        &--link {
            margin-top: 10px;
        }
    }

    .footer-logo {
        display: inline-block;

        &--img {
            width: 50px;
        }
    }

    .social-media {
        margin-bottom: 15px;

        &--item {
            margin: 0 10px;
        }
    }
}

@media screen and (max-width: 767px) {
    .site-header {
        height: auto;
        padding: 15px 0;

        &--inner {
            align-items: center;
        }
    }

    .site-logo {
        &--img {
            width: 120px;
        }
    }

    .lang-switcher {
        top: 0;
    }

    .user-menu {
        &--icon {
            width: 40px;
            height: 40px;
            padding: 9px;
        }

        &--dropdown {
            left: -52px;
        }
    }

    .right-menu {
        align-items: center;
    }

    .create-minyan {
        top: 0;
        margin-left: 28px;

        &--inner {
            width: 45px;
            height: 45px;
            padding: 5px;

            img {
                &.hand-icon {
                    width: 25px;
                    right: -10px;
                    bottom: 5px;
                }
            }
        }

        &--text {
            display: none;
        }
    }

    .fs-medium {
        font-size: $font-size-base * 1.25;
    }

    .search-wrapper {
        margin-top: -30px;
    }

    .search-bar {
        &--input {
            height: 60px;
            font-size: $font-size-base * 1.125;
            padding: 10px 70px 10px 15px;
        }

        &--btn {
            padding-left: 10px;

            img {
                width: 30px;
            }
        }
    }

    .hero-section {
        height: 250px;
    }

    .see-all-btn {
        position: static;
        width: 90px;
        margin: 20px auto 0;
        display: block;
    }

    .slider-section {
        padding: 25px 0 35px 0;
    }

    .section-title {
        &--text {
            margin-bottom: 25px;
        }
    }

    .slider-wrapper {
        padding: 0px 20px;
    }

    .slick-arrow {
        width: 35px;
        height: 35px;

        &:before {
            width: 10px;
            height: 10px;
        }

        &.slick-prev {
            left: -8px;

            &::before {
                left: 12px;
            }
        }

        &.slick-next {
            right: -8px;

            &::before {
                left: 8px;
            }
        }
    }

    .slider-section {
        &.pb-4 {
            padding-bottom: 45px;
        }
    }

    .slider-item {
        &--title {
            font-size: $font-size-base * 1.125;
        }
    }
}

@media screen and (max-width: 340px) {
    .site-logo {
        &--img {
            width: 100px;
        }
    }
}