$primary: #2aa9e3;
$primary-light: #7acef4;
$primary-dark: #097cb0;
$bg-primary-light: #b3e7ff;

$white: #fff;
$black: #000;

$font-size-base: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-size: $font-size-base;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
select,
textarea,
button {
    font-family: "Inter", sans-serif;
}

.container {
    width: 1310px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: $primary-dark;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    font-size: $font-size-base * 0.875;
    text-transform: uppercase;
    color: $white;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid $primary;
    background-color: $primary;
    transition: 0.25s ease;
    box-shadow: 0px 0px 10px -5px rgba($black, 0.4);
    &:hover {
        background-color: $primary-dark;
    }
    &.btn-outline {
        color: $primary;
        background-color: $white;
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

// Font weights
.fw-light {
    font-weight: 200;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}

// Font sizes
.fs-medium {
    font-size: $font-size-base * 1.5;
}
// Basic flex utilities
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

// Site header
.site-header {
    height: 80px;
    padding-top: 24px;
    margin-bottom: 25px;
    background-color: $primary-light;
    &--inner {
        position: relative;
    }
}

.site-logo {
    &--inner {
        display: block;
    }
    &--img {
        width: 300px;
        display: block;
    }
}

.user-menu {
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    &--icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 4px 4px 0px rgba($black, 0.4);
    }
    &--dropdown {
        position: absolute;
        top: 100%;
        left: -39px;
        z-index: 12;
        width: 145px;
        display: none;
        margin-top: 30px;
        padding: 16px 12px;
        border-radius: 34px;
        border: 3px solid $primary;
        background-color: $white;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            left: 0;
            right: 0;
            bottom: 100%;
            margin: 0 auto;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 30px solid $primary;
        }
    }
    &--btn {
        color: $white;
        display: block;
        text-align: center;
        padding: 10px 12px;
        border-radius: 10px;
        transition: 0.25s ease;
        background-color: $primary-light;
        & + .user-menu--btn {
            margin-top: 15px;
        }
        &:hover {
            background-color: $primary;
        }
    }
}

// Language switcher
.lang-switcher {
    position: relative;
    z-index: 3;
}

.selected-lang {
    position: relative;
    z-index: 3;
    width: 60px;
    padding: 0 5px;
    &--img {
        display: block;
        margin: 0 auto;
    }
    &::after {
        position: absolute;
        content: "";
        width: 0;
        top: 8px;
        right: -22px;
        border-top: 12px solid $white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
}

.lang-dropdown {
    position: absolute;
    width: 60px;
    z-index: -1;
    top: -10px;
    display: none;
    padding: 48px 5px 10px;
    border-radius: 12px;
    background-color: $primary-dark;
    &--item {
        & + .lang-dropdown--item {
            margin-top: 10px;
        }
    }
    &--flag {
        display: block;
    }
    &--img {
        display: block;
        margin: 0 auto;
    }
}

.create-minyan {
    position: relative;
    top: -12px;
    text-align: center;
    &--inner {
        position: relative;
        width: 178px;
        height: 168px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 4px 4px 0px rgba($black, 0.4);
        .hand-icon {
            position: absolute;
            bottom: 10px;
            right: -30px;
        }
    }
    &--text {
        font-family: "Pacifico", sans-serif;
        font-size: $font-size-base * 2.5;
        color: $white;
        line-height: 45px;
        text-shadow: 0px 4px 4px rgba($black, 0.4);
    }
}

.hero-section {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// Search Bar
.search-wrapper {
    margin-top: -67px;
    margin-bottom: 20px;
}

.search-bar {
    position: relative;
    width: 876px;
    margin: 0 auto 20px;
    max-width: 100%;
    z-index: 2;
    &--input {
        outline: none;
        border: none;
        width: 100%;
        height: 135px;
        font-size: 32px;
        padding: 20px 160px 20px 50px;
        color: rgba($primary, 0.5);
        border-radius: 15px;
        box-shadow: 0px 4px 20px 0px rgba($black, 0.4);
        &::-webkit-input-placeholder {
            color: rgba($primary, 0.5);
        }
        &:-ms-input-placeholder {
            color: rgba($primary, 0.5);
        }
        &::placeholder {
            color: rgba($primary, 0.5);
        }
    }
    &--btn {
        position: absolute;
        border: none;
        top: 50%;
        right: 20px;
        outline: none;
        cursor: pointer;
        padding-left: 30px;
        border-left: 1px solid $primary;
        transform: translateY(-50%);
        background-color: transparent;
    }
}

// Common sections
.bg-primary-light {
    background-color: $primary-light;
}

.section-title {
    &--text {
        font-size: $font-size-base * 1.5;
        margin-bottom: 35px;
    }
}

.slider-section {
    padding: 35px 0 45px 0;
    &.pb-4 {
        padding-bottom: 100px;
    }
    .container {
        position: relative;
    }
}

.see-all-btn {
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 2;
}

.slider-wrapper {
    position: relative;
    width: 1245px;
    margin: 0 auto;
    padding: 0 60px;
    max-width: 100%;
}

.slider-item {
    text-align: center;
    &--inner {
        padding: 0 10px;
    }
    &--img {
        width: 100%;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }
    &--btn {
        margin-top: 15px;
    }
    &--content {
        color: $primary;
        margin-top: 15px;
    }
    &--title {
        font-size: $font-size-base * 1.25;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &--picture {
        position: relative;
        &.play-btn {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 2;
                width: 80px;
                height: 80px;
                margin: auto;
                cursor: pointer;
                border-radius: 50%;
                background-color: #ad1519;
            }
            &::after {
                position: absolute;
                content: "";
                inset: 0;
                width: 0;
                height: 0;
                left: 5px;
                z-index: 2;
                margin: auto;
                cursor: pointer;
                border-left: 35px solid $white;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
            }
        }
    }
}

.slick-slider {
    position: unset;
}

.slick-arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    border: none;
    top: 50%;
    z-index: 2;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    text-indent: -9999px;
    transform: translateY(-50%);
    background-color: $primary-dark;
    &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-left: 4px solid $bg-primary-light;
        border-bottom: 4px solid $bg-primary-light;
        transform: rotate(45deg);
    }
    &.slick-prev {
        left: 0;
        &::before {
            left: 19px;
        }
    }
    &.slick-next {
        right: 0;
        &::before {
            left: 12px;
            transform: scale(-1) rotate(45deg);
        }
    }
}

.slick-dots {
    display: flex;
    margin-top: 22px;
    align-items: center;
    justify-content: center;
    li {
        & + li {
            margin-left: 15px;
        }
        &.slick-active {
            button {
                background-color: #617ba8;
            }
        }
    }
    button {
        cursor: pointer;
        border: 0;
        width: 15px;
        height: 15px;
        outline: none;
        overflow: hidden;
        border-radius: 50%;
        text-indent: -9999px;
        background-color: #87a7db;
    }
}

.site-footer {
    padding: 30px 0 35px;
    background-color: $primary;
}

.footer-wrapper {
    width: 1012px;
    margin: 0 auto;
    max-width: 100%;
}

.top-footer {
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid $white;
    &--item {
        flex: 0 0 14%;
        padding: 0 15px;
        text-align: center;
        &:nth-child(1),
        &:nth-child(2) {
            flex: 0 0 22%;
        }
    }
    &--link {
        color: $white;
        font-weight: 500;
        margin-bottom: 10px;
        display: inline-block;
        font-size: $font-size-base * 0.875;
    }
}

.footer-logo {
    &--img {
        display: block;
        margin: 0 auto;
    }
}

.social-media {
    margin-bottom: 100px;
    &--item {
        margin: 0 15px;
    }
    &--link {
        color: $white;
        svg {
            fill: $white;
        }
    }
}

.copyright-info {
    font-size: $font-size-base * 0.875;
    color: $white;
}

// Responsive
@media screen and (max-width: 1280px) {
    .see-all-btn {
        right: 20px;
    }
    .slick-arrow {
        width: 45px;
        height: 45px;
        &::before {
            width: 13px;
            height: 13px;
        }
        &.slick-prev {
            &::before {
                left: 17px;
            }
        }
        &.slick-next {
            &::before {
                left: 11px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .site-logo {
        &--img {
            width: 240px;
        }
    }
    .create-minyan {
        &--inner {
            width: 118px;
            height: 108px;
            padding: 10px;
            img {
                &:not(.hand-icon) {
                    height: 100%;
                    object-fit: contain;
                }
                &.hand-icon {
                    width: 60px;
                    bottom: 10px;
                    right: -22px;
                }
            }
        }
        &--text {
            font-size: $font-size-base * 1.875;
        }
    }

    .hero-section {
        height: 500px;
    }
}

@media screen and (max-width: 991px) {
    .site-header {
        padding-top: 32px;
        margin-bottom: 0;
    }

    .site-logo {
        &--img {
            width: 170px;
        }
    }

    .selected-lang {
        width: 40px;
        &::after {
            top: 6px;
            right: -17px;
            border-top-width: 9px;
            border-left-width: 6px;
            border-right-width: 6px;
        }
    }

    .lang-dropdown {
        width: 40px;
        padding-top: 40px;
    }

    .user-menu {
        &--icon {
            width: 55px;
            height: 55px;
            padding: 12px;
        }
        &--dropdown {
            left: -44px;
        }
    }

    .create-minyan {
        position: relative;
        padding-right: 10px;
        margin-left: 40px;
        &--inner {
            width: 58px;
            height: 58px;
            img {
                &.hand-icon {
                    width: 30px;
                    right: -12px;
                    bottom: 8px;
                }
            }
        }
        &--text {
            width: 120px;
            margin-top: 5px;
            font-size: $font-size-base * 1.25;
            line-height: $font-size-base * 1.5;
        }
    }

    .search-bar {
        &--input {
            font-size: $font-size-base * 1.5;
            height: 90px;
            padding-left: 30px;
        }
        &--btn {
            img {
                width: 60px;
            }
        }
    }

    .slider-item {
        &--picture {
            &.play-btn {
                &::before {
                    width: 50px;
                    height: 50px;
                }
                &::after {
                    border-left-width: 15px;
                    border-top-width: 10px;
                    border-bottom-width: 10px;
                }
            }
        }
    }

    .top-footer {
        margin-bottom: 25px;
        &--item {
            flex: none;
            &:nth-child(1),
            &:nth-child(2) {
                flex: none;
            }
        }
    }

    .footer-logo {
        display: inline-block;
        &--img {
            width: 50px;
        }
    }

    .social-media {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .site-header {
        height: auto;
        padding: 15px 0;
        &--inner {
            align-items: center;
        }
    }

    .site-logo {
        &--img {
            width: 120px;
        }
    }

    .user-menu {
        &--icon {
            width: 40px;
            height: 40px;
            padding: 9px;
        }
        &--dropdown {
            left: -52px;
        }
    }

    .right-menu {
        align-items: center;
    }

    .create-minyan {
        top: 0;
        margin-left: 28px;
        &--inner {
            width: 45px;
            height: 45px;
            padding: 5px;
            img {
                &.hand-icon {
                    width: 25px;
                    right: -10px;
                    bottom: 5px;
                }
            }
        }
        &--text {
            display: none;
        }
    }

    .fs-medium {
        font-size: $font-size-base * 1.25;
    }

    .search-wrapper {
        margin-top: -30px;
    }

    .search-bar {
        &--input {
            height: 60px;
            font-size: $font-size-base * 1.125;
            padding: 10px 70px 10px 15px;
        }
        &--btn {
            padding-left: 10px;
            img {
                width: 30px;
            }
        }
    }

    .hero-section {
        height: 250px;
    }

    .see-all-btn {
        position: static;
        width: 90px;
        margin: 20px auto 0;
        display: block;
    }

    .slider-section {
        padding: 25px 0 35px 0;
    }

    .section-title {
        &--text {
            margin-bottom: 25px;
        }
    }

    .slider-wrapper {
        padding: 0px 20px;
    }

    .slick-arrow {
        width: 35px;
        height: 35px;
        &:before {
            width: 10px;
            height: 10px;
        }
        &.slick-prev {
            left: -8px;
            &::before {
                left: 12px;
            }
        }
        &.slick-next {
            right: -8px;
            &::before {
                left: 8px;
            }
        }
    }

    .slider-section {
        &.pb-4 {
            padding-bottom: 45px;
        }
    }

    .slider-item {
        &--title {
            font-size: $font-size-base * 1.125;
        }
    }

    .top-footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
        padding-bottom: 15px;
        &--item {
            &:nth-child(3) {
                order: -1;
            }
        }
        &--link {
            margin-top: 10px;
        }
    }

    .social-media {
        margin-bottom: 25px;
        &--item {
            margin: 0 10px;
        }
    }
}

@media screen and (max-width: 340px) {
    .site-logo {
        &--img {
            width: 100px;
        }
    }
}
